{% extends 'base.html' %}
{% block content %}

    <h1>Login</h1>

    <h4 style="color:darkslategrey">{{ message }}</h4>

    <hr>

    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}

        {% if request.GET.next %}

            <input type="hidden" name="next" value={{ request.GET.next }}/>

        {% endif %}

        <label for="username">Username</label><br><input type="text"
                                                         name="username"
                                                         id="username"/>
        <br>
        <br>
        <label for="password">Password</label><br><input type="password"
                                                         name="password"
                                                         id="password"/>
        <br>
        <br>
        <input type="submit" class='btn btn-primary' value="Login"/>

    </form>

{% endblock %}


